<app-icone-principal></app-icone-principal>
<div class="psicoTech">PsicoTech</div>
<div class="row justify-content-end linhaLogin">
  <div class="botaoLogin">
    <h4 class="jaTenhoCadastro" (click)="irParaLogin()">
      Já tenho cadastro
    </h4>
  </div>
</div>

<div class="container">
<div class="row justify-content-center">
  <div class="col-md-8 textoIntroducao">
    Quer uma ajuda psicológica mais fácil e rápido?
  </div>
  <div class="row justify-content-center"> 
    <div class="col-md-8 textoIntroducao2">
      Por que não entra para experimentar?
    </div>
  </div>
</div>

<div class="row justify-content-end linhaFinal">
  
  <div class="col-md-6 col-md-6 botaoLogin" (click)="navegarComParametro()">
    <h4 class="paciente">
      Sou Paciente
    </h4>
  </div>
  <div class="col-md-6 col-md-6 botaoLogin">
    <h4 class="profissional">
      Sou Profissional
    </h4>
  </div>

</div>
</div>